@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="image-main">
        <img class="img-responsive" src="~/Content/Images/embarrassed_woman.jpg" />
    </div>
    <br/>
    <p class="lead">Saving phone numbers just got a whole lot better...</p>
    <p>
        @Html.ActionLink("Get started", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="well well-lg">
                    <h2>Essential</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/output/people-q-c-300-300-9.jpg" alt="icon">
                        </div>
                        <div class="col-md-8">
                            <p>Phoneify has completely changed the way I save telephone numbers, I can't live without it anymore.</p>
                        </div>
                        <p class="pull-right text-muted">- Nichole Avery, California</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="well well-lg">
                    <h2>A complete game changer</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/output/sports-q-c-300-300-8.jpg" alt="icon">
                        </div>
                        <div class="col-md-8">
                            <p>Phoneify is how saving numbers should be. </p>
                        </div>
                        <p class="pull-right text-muted">- John Michaels, Toronto</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="well well-lg">
                    <h2>Exactly what I needed</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-circle img-responsive" src="http://lorempixel.com/output/people-q-c-300-300-7.jpg" alt="icon">
                        </div>
                        <div class="col-md-8">
                            <p>As a Ninja of the medicine tribe we have to save thousands of numbers at a time, Phoneify makes it possible. 10/10, way better than scrolls.</p>
                        </div>
                        <p class="pull-right text-muted">- キリヤ・ケイジ, ???</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>